
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <h4>UTILISATEUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @ViewData["userName"]
        </dt>
    </dl>
</div>
