
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Encodage</title>
</head>
<body>
    <div>
        @Model.Message
        <!-- Ou -->
        <ul>
            <li>@Html.Raw(Model.Message)</li>
            <li>@Model.Message</li>
        </ul> 
    </div>
</body>
</html>
