
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListeDesRestos</title>
</head>
<body>
    <div>
        @Html.DropDownList("RestoChoisi", (SelectList)ViewBag.ListeDesRestos) 
    </div>
</body>
</html>
